<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-text-center ion-text-uppercase">
    <h1>Projeto Final - DWMP2</h1>
  </div>
  <ion-text class="ion-text-justify">
    <h4 class="ion-margin">Aluno: Luiz Fernando Salles</h4>
    <h4 class="ion-margin">RA: SC3004058</h4>
    <h4 class="ion-margin">Tema: API Consulta SWAPI The Star Wars API</h4>
    <h4 class="ion-margin">Documentação da API: <a href="https://swapi.co/">Link parra visualizar a documentação da API usada no projeto.</a></h4>
    <h4 class="ion-margin">Endereço para acesso do projeto: <a href="https://github.com/luiz1988/ionic-projeto-final">GitHub</a></h4>
  </ion-text>
</ion-content>
